body {
    margin: 0;
    background: url("math-background3.jpg") no-repeat center center fixed;
    background-size: cover;
    /*background-color: #2798C1;*/
}

h1,h2,h3,h4,h5 {
    font-family: 'Gugi', sans-serif;
    text-shadow: 1px 1px black;
     font-weight: 100;   
}

.container {
    text-align: center;
}

#main_container {
    background-color: rgba(255,255,255, 0.9);
    text-align: center;
}

.fas {
    text-shadow: 1px 1px black;
    
}

.btn-success {
    background-image: linear-gradient(#2798C1, #2798C5 60%, #2798C1);
    border-color: #2798C1;
}


.btn-danger {
    background-image: linear-gradient(#B41344, #B41354 60%, #B41344);
    border-color: #B41344;
}

.display_none {
    display: none;
}

.choose_game_buttons button {
    display: block;
    margin: 5px auto;
    min-width: 180px;
}

.choose_game_buttons button h5 {
    color: white;
    font-weight: 100;
}

.current_score {
    color: orange;
}

#firstNum,
#secondNum,
#answer_box{
    background-color: rgba(255,255,255, 0.8);
    padding: 40px;
    border: 2px #2798C1 solid;
    border-radius: 20%;
    color: orange;
    text-shadow: 1px 1px black;
}



#firstNum {
    /*background-color: red;*/
}

#answer_box {
    height: 127px;
    width: 127px;
    position: relative;
    top: 43px;
    font-family: 'Gugi', sans-serif;
    text-shadow: 1px 1px black;
    font-weight: 100;  
    padding: 20px;
    border: 3px #B41344 solid;
    
}

#myForm {
    /*width: 40px;*/
    height: 100%;
    /*position: absolute;*/
    /*top: 5px;*/
}

.questionTime h1,
.questionTime i {
     /*margin: 10px 30px;*/
}

.questionTime h1,
.questionTime > div{
    display: inline-block;
    min-width: 127px
}

#symbol {
    color: #2798C1;
    width: 50px;
    text-shadow: 1px 1px black;
}

#pause_symbol {
    color: #2798C1;
    margin: 10px;
}

#wrong,
#right{
    /*display: none;*/
    position: absolute;
    z-index: 30000;
}

#wrong {
    bottom: 20px;
}

#right {
    bottom: 30px;
}

.display_gif {
    display: inline-block;
}

#choose_options h1,
#choose_options h3,
#end_game h1,
#end_game h3{
    color: orange;
}

#choose_options,
#end_game{
    text-align: center;
}

.display_choose_options,
.end_game_options{
    background-color: rgba(255,255,255,0.9);
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 10%;
    right: 10%;
    top: 10%;
    bottom: 10%;
    z-index: 4000;
    border: 10px solid #B41344;
    border-radius: 10px;
    padding: 10px;
    
    
}


.fa-pause {
    transform: rotate(90deg);
}

.form-control {
    border-width: 0px;
    height: 100%;
    width: 100%;
    color: orange;
    font-size: 36px;
    text-shadow: 1px 1px black;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.form-control:focus {
    border:none;
    box-shadow: none;
    
}

.form_in_answer_box {
    height: 100%;
    width: 100%;
}

#wrong {
    filter: grayscale(100%);
}

.timer_and_cancel{
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    padding-right: 90px;
    font-family: 'Gugi', sans-serif;
    text-shadow: 1px 1px black;
    font-weight: 100;   
    color:orange;
    font-size: 65px;
}

@media screen and (min-width:768px) {

#main_container {
    height: 100vh;
    width: 100vw;
}

.choose_game_buttons button {
    display: inline-block;
    /*margin: 40px 40px;*/
    min-width: 180px;
}
}